
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title th:text="${event != null} ? ${event.name} : 'Event name'">Event name</title> 
</head>
<body>
    <div th:if="${event != null}" layout:fragment="content" class="container mt-4">
        <button class="btn btn-outline" onclick="history.back()"><i class="fa-solid fa-arrow-left"></i> Back</button>
        <!-- Event details card -->
        <div class="card border-light mb-3">
            <div class="card-header text-white bg-secondary d-flex justify-content-between align-items-center">
                <h2 class="mb-0" th:text="${event.name}">Event Name</h2>
                <div class="text-white" th:if="${#authorization.expression('hasRole(''ADMINISTRATOR'')')}">
                    <a th:href="@{/events/delete(id=${event.id})}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <i class="fa-solid fa-calendar text-secondary"></i> 
                        <span class="text-secondary">Date:</span>
                        <span th:text="${event.date}">Event Date</span>
                    </div>
                    
                    <div class="col-md-6">
                        <i class="fa-solid fa-map-marker-alt text-secondary "></i>
                        <span class="text-secondary">Venue:</span>
                        <span th:text="${event.venue != null} ? ${event.venue.name} : 'N/A'">Venue Name</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <i class="fa-solid fa-clock text-secondary "></i> 
                        <span class="text-secondary">Time:</span>
                        <span th:text="${event.time}">Event Time</span>						
                    </div>
                    <div class="col-md-6">
                        <i class="fa-solid fa-people-group text-secondary"></i>
                        <span class="text-secondary">Capacity:</span>
                        <!-- Assume getCapacity is a method; if not, adjust accordingly -->
                        <span th:text="${event.venue != null} ? ${event.venue.capacity} : 'N/A'">Event Capacity</span>		
                    </div>
                </div>
            </div>
        </div>

        <!-- Event description -->
        <div class="card rounded-lg">
            <div class="card-body">
                <!-- Direct property access assuming getDescription is not a method; adjust if it's a method -->
                <p th:text="${event.description}">Event Description</p>
            </div>
        </div>
        <div id ="map"></div>
        <script th:inline="javascript">
        /*<![CDATA[*/
	mapboxgl.accessToken = 'pk.eyJ1IjoiYWFwOTAwMiIsImEiOiJjbHYyYW84eHowOGM0MmlwZm94cXEwbWo1In0.eCue2SRjuxU3jwYyac_vNg';
    
    
    const name = /*[[${event.name}]]*/"";
    const time = /*[[${event.time}]]*/"";
    const longitude = /*[[${event.venue.latitude}]]*/"";;
    const latitude = /*[[${event.venue.latitude}]]*/"";;
    
    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v12',
        center: [longitude, latitude],
        zoom: 8
    });
    
    const marker1 = new mapboxgl.Marker()
        .setLngLat([longitude, latitude])
  .setPopup(
    new mapboxgl.Popup({ offset: 25 })
      .setHTML(
        `<h3>${name}</h3><p>${time}</p>`
      )
  )
  .addTo(map);
  /*]]>*/
      
    </script>
    
        
    </div>
</body>
</html>

