<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>All events</title>
</head>
<body>
  <div th:insert="navbar :: navbar">  </div>
	
  <div layout:fragment="content">
    <h1>All events</h1>
    <div class="d-flex w-100">
	    <form action="/events/search" class="w-100 m-3">
	      <div class="input-group mb3">
	        <input type="search" class="form-control" id="inputSearch" name="inputSearch" aria-describedby="searchBar" placeholder="Search for events">
	        <div class="input-group-append">
	            <button type="submit" class="btn btn-secondary">Submit</button>
	        </div>
	      </div>
	    </form>
	     <div sec:authorize="hasRole('ADMINISTRATOR')" >
	    	<a href="/events/add" class="btn btn-primary m-3" style="white-space: nowrap;">
	    		<i class="fa-solid fa-plus"></i> Add Event
	    	</a>
	    </div>
    </div>
    <h2>Future Events</h2>
	<div style="overflow-x: auto; display: block">
	    <table class="table table-striped table-hover">
	      <thead>
	        <tr>
	          <th><i class="fa-solid fa-bolt"></i> Event</th>
	          <th><i class="fa-solid fa-map-marker-alt"></i> Venue</th>
	          <th><i class="fa-solid fa-calendar"></i> Date</th>
	          <th><i class="fa-solid fa-clock"></i> Time</th>
	          <th sec:authorize="hasRole('ADMINISTRATOR')"  ><i class="fa-solid fa-edit"></i> Edit</th>
	          
	        </tr>
	      </thead>
	      <tbody>
	        <tr th:each="e : ${futureEvents}">
			  <td>
			  	<a th:href="@{/events/{eventId}(eventId=${e.id})}" th:text="${e.name}">Event Name</a>
			  </td>
	          
	          <!-- <td th:text="${e.venue.name}">Event venue</td> -->
			  <td>
			  	<a th:href="@{/venues/{venueId}(venueId=${e.getVenue.getId})}" th:text="${e.venue.name}">Event venue</a>
			  </td>
	          
	          
	          <td th:text="${{e.date}}">Event date</td>
	          <td th:text="${{e.time}}">Event time</td>
	          
	          <td sec:authorize="hasRole('ADMINISTRATOR')" >
	            <a th:href="@{/events/edit/{id}(id=${e.id})}" class="btn btn-primary"><i class="fa-solid fa-edit"></i></a>
	          </td>

	        </tr>
	      </tbody>
	    </table>
    </div>
    
    
	<h3>Social Feed</h3>
	<div style="overflow-x: auto; display: block">
	    <table class="table table-striped table-hover">
	        <thead>
	            <tr>
	                <th><i class="fa-solid fa-clock"></i> Time</th>
	                <th><i class="fa-solid fa-calendar"></i> Date</th>
	                <th><i class="fa-solid fa-comment"></i> Comment</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr th:each="p : ${mastodonPosts}">
	                <td th:text="${p.formattedTime}">Post time</td>
	                <td th:text="${p.formattedDate}">Post date</td>
	                <td>
	                    <a th:href="${p.url}" th:text="${p.content}">Post Link</a>
	                </td>
	            </tr>
	        </tbody>
	    </table>
	</div>

    <h2>Past Events</h2>
    <div style="overflow-x: auto; display: block">
	    <table class="table table-striped table-hover">
	      <thead>
	        <tr>
	          <th><i class="fa-solid fa-bolt"></i> Event</th>
	          <th><i class="fa-solid fa-map-marker-alt"></i> Venue</th>
	          <th><i class="fa-solid fa-calendar"></i> Date</th>
	          <th><i class="fa-solid fa-clock"></i> Time</th>
	          <th sec:authorize="hasRole('ADMINISTRATOR')"  ><i class="fa-solid fa-edit"></i> Edit</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr th:each="e : ${pastEvents}">
			  <td>
			  	<a th:href="@{/events/{eventId}(eventId=${e.id})}" th:text="${e.name}">Event Name</a>
			  </td>
	          
	          <td th:text="${e.venue.name}">Event venue</td>
	          <td th:text="${{e.date}}">Event date</td>
	          <td th:text="${{e.time}}">Event time</td>
	          
	          <td sec:authorize="hasRole('ADMINISTRATOR')" >
	            <a th:href="@{/events/edit/{id}(id=${e.id})}" class="btn btn-primary"><i class="fa-solid fa-edit"></i></a>
	          </td>
	        </tr>
	      </tbody>
	    </table>
    </div>
  </div>
  

</body>
</html>
