<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>All events</title>
  <link href="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js"></script>

</head>
  <style>
  	#map{
  		position: absolute;
  		width: 70%;
  		height: 40%;
  	}
  </style>

<body>
  <div th:insert="navbar :: navbar">  </div>
	
  <div layout:fragment="content">
    <h1>All events</h1>
    <div class="d-flex w-100">
	    <form action="/events/search" class="w-100 m-3">
	      <div class="input-group mb3">
	        <input type="search" class="form-control" id="inputSearch" name="inputSearch" aria-describedby="searchBar" placeholder="Search for events">
	        <div class="input-group-append">
	            <button type="submit" class="btn btn-secondary">Submit</button>
	        </div>
	      </div>
	    </form>
	     <div sec:authorize="hasRole('ADMINISTRATOR')" >
	    	<a href="/events/add" class="btn btn-primary m-3" style="white-space: nowrap;">
	    		<i class="fa-solid fa-plus"></i> Add Event
	    	</a>
	    </div>
    </div>
    <h2>Future Events</h2>
	<div style="overflow-x: auto; display: block">
	    <table class="table table-striped table-hover">
	      <thead>
	        <tr>
	          <th><i class="fa-solid fa-bolt"></i> Event</th>
	          <th><i class="fa-solid fa-map-marker-alt"></i> Venue</th>
	          <th><i class="fa-solid fa-calendar"></i> Date</th>
	          <th><i class="fa-solid fa-clock"></i> Time</th>
	          <th sec:authorize="hasRole('ADMINISTRATOR')"  ><i class="fa-solid fa-edit"></i> Edit</th>
	          
	        </tr>
	      </thead>
	      <tbody>
	        <tr th:each="e : ${futureEvents}">
			  <td>
			  	<a th:href="@{/events/{eventId}(eventId=${e.id})}" th:text="${e.name}">Event Name</a>
			  </td>
	          
	          <!-- <td th:text="${e.venue.name}">Event venue</td> -->
			  <td>
			  	<a th:href="@{/venues/{venueId}(venueId=${e.getVenue.getId})}" th:text="${e.venue.name}">Event venue</a>
			  </td>
	          
	          
	          <td th:text="${{e.date}}">Event date</td>
	          <td th:text="${{e.time}}">Event time</td>
	          
	          <td sec:authorize="hasRole('ADMINISTRATOR')" >
	            <a th:href="@{/events/edit/{id}(id=${e.id})}" class="btn btn-primary"><i class="fa-solid fa-edit"></i></a>
	          </td>

	        </tr>
	      </tbody>
	    </table>
    </div>
    <h2>Past Events</h2>
    <div style="overflow-x: auto; display: block">
	    <table class="table table-striped table-hover">
	      <thead>
	        <tr>
	          <th><i class="fa-solid fa-bolt"></i> Event</th>
	          <th><i class="fa-solid fa-map-marker-alt"></i> Venue</th>
	          <th><i class="fa-solid fa-calendar"></i> Date</th>
	          <th><i class="fa-solid fa-clock"></i> Time</th>
	          <th sec:authorize="hasRole('ADMINISTRATOR')"  ><i class="fa-solid fa-edit"></i> Edit</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr th:each="e : ${pastEvents}">
			  <td>
			  	<a th:href="@{/events/{eventId}(eventId=${e.id})}" th:text="${e.name}">Event Name</a>
			  </td>
	          
	          <td th:text="${e.venue.name}">Event venue</td>
	          <td th:text="${{e.date}}">Event date</td>
	          <td th:text="${{e.time}}">Event time</td>
	          
	          <td sec:authorize="hasRole('ADMINISTRATOR')" >
	            <a th:href="@{/events/edit/{id}(id=${e.id})}" class="btn btn-primary"><i class="fa-solid fa-edit"></i></a>
	          </td>
	        </tr>
	      </tbody>
	    </table>
    </div>
    <div id='map' style="width: 100%; height: 40em; padding-top: 1em;"></div>
        <script th:inline="javascript">
            
            var futureEvents = [[${futureEvents}]];
            var markers = [];
            
            if (futureEvents.length == 0) {
                x = 0 
                y = 0 
            }
            
            else{
                x = futureEvents[0].venue.longitude
                y = futureEvents[0].venue.latitude
            }
            
            mapboxgl.accessToken = 'pk.eyJ1IjoiYWFwOTAwMiIsImEiOiJjbHYyYW84eHowOGM0MmlwZm94cXEwbWo1In0.eCue2SRjuxU3jwYyac_vNg'; 
            const map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                center: [x, y],
                zoom: 5
            });
            
            for (var i = 0;i < futureEvents.length;i++){
                markers[i] = new mapboxgl.Marker({ color: 'red' })
                .setLngLat([futureEvents[i].venue.longitude,futureEvents[i].venue.latitude])
                .addTo(map);
               
              };
                    
        </script>
    
    </div>
    
    </div>    
   
  </div>

</body>
</html>
