<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">

<head>
  <title>Details</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <title th:text="${venue.name}">Venue name</title> 
</head>
<body>
  <div layout:fragment="content">
    <h1 th:text="${venue.name}">Venue Name</h1>
  </div>

  <div layout:fragment="content" class="container mt-4">
    <div class="card border-light mb-3">
      <div class="card-header text-white bg-secondary">
        <h2 class="mb-0" th:text="${venue.name}">Venue Name</h2>
      </div>
      <div class="card-body">
        <div class="row">         
          <div class="col-md-6">
            <i class="fa-solid fa-map-marker-alt text-secondary "></i>
            <span class="text-secondary">Postcode:</span>
            <span th:text="${venue.getPostcode}">Venue postcode</span>
          </div>    
          <div class="col-md-6">
            <i class="fa-solid fa-people-group text-secondary"></i>
            <span class="text-secondary">Capacity:</span>
            <span th:text="${venue.capacity}">Venue Capacity</span>     
          </div> 
                 
        </div>
        <div class="row">         
          <div class="col-md-6">
			<i class="fa-solid fa-map-marker-alt text-secondary "></i>
            <span class="text-secondary">    Address:</span>
            <span th:text="${venue.address}">Venue Address</span>                     
          </div>          
        
        </div>
      </div>
    </div>
  </div>
</body>
</html>


